/*===================
    fonts import
===================== */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Poppins&family=Yeseva+One&display=swap");

/*----------- common styles -----------*/

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
p {
  font-size: 18px;
  line-height: 30px;
}
button {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 31px;
  padding-left: 31px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  background-color: #ff5959;
  color: white;
}
button:hover {
  background-color: #fa3333;
  cursor: pointer;
}

/* main section styles */
/* first part */
#main-section-header {
  display: flex;
  margin-left: 150px;
  margin-right: 120px;
}
#main-section-header-text {
  margin-top: 90px;
  margin-right: 100px;
}
#main-section-header h1 {
  font-size: 60px;
  border-left: 4px solid #ff5959;
  padding-left: 13px;
  font-family: "Yeseva One";
  line-height: 80px;
  font-weight: 400;
}
.yellow-color {
  color: #ffad5a;
}
#main-section-header-img img {
  width: 426px;
}
/* second part */
#main-section-second-part {
  margin-left: 156px;
  margin-right: 156px;
  margin-top: 100px;
  display: grid;
}
#main-section-second-part h2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
.mission-vision-goals {
  border-radius: 26px;
  padding: 25px;
}
.mission-vision-goals img {
  width: 126px;
}
#second-part-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
#second-mission {
  background-color: #4f9da61a;
}
#second-vision {
  background-color: #ff59591a;
}
#second-goals {
  background-color: #fff4d6;
}
/* third part */
#main-section-third-part {
  display: flex;
  padding-left: 100px;
  margin-left: 58px;
  margin-right: 158px;
  margin-top: 100px;
  background-image: url("/images/shapes/shape-1.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 227px;
}
#coding {
  width: 400px;
}
#third-part-main {
  margin-left: 72px;
  margin-top: 10px;
}
#third-part-main h2 {
  font-size: 36px;
  font-weight: 700;
}
/* fourth part */

#main-section-fourth-part {
  margin-left: 156px;
  padding-right: 100px;
  margin-right: 58px;
  margin-top: 100px;
  padding-bottom: 80px;
  background-image: url("/images/shapes/shape-1.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 227px;
  display: flex;
}
#projects {
  width: 400px;
  margin-left: 50px;
}

/* contact part */
#contact-part {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  background-color: rgb(245, 206, 179);
  text-align: center;
  border-radius: 60px;
}
form {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
input {
  height: 30px;
  margin-bottom: 5px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
textarea {
  border: none;
  padding: 5px;
  border-radius: 5px;
}
/* -------footer------ */
footer {
  margin-top: 200px;
  text-align: center;
  padding: 50px;
  background-color: #0b0d17;
  color: white;
}
footer h1 {
  font-family: "Lobster Two";
}
.red {
  color: #ff5959;
}
